<section class="hero is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title main-heading">
        PLANT TRACKER
      </h1>
      <h2 class="subtitle">
        Track, share, grow
      </h2>
    </div>
  </div>
</section>
