.hero {
  background: url('../../images/homepage.jpg');
  background-size: cover;
}

.main-heading {
  color: $main-green;
  font-family: $brand-font;
  font-size: 6em;
  line-height: .6em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.plant-heading {
  font-size: 3em;
  color: $main-green;
  font-family: $main-font;
  margin-bottom: .5em;
}

.show-plant-heading {
  font-size: 2em;
  color: $main-green;
  font-family: $main-font;
}

@media (max-width: 433px) {
  .plant-heading {
    font-size: 2.3em;
  }
}
