.new-plant {
  font-family: $main-font;
  width: 50%;
  margin-left: 1em;
  margin-bottom: 1em;
}

@media (max-width: 1087px) {
  .new-plant {
    width: 60%;
  }
}
@media (max-width: 850px) {
  .new-plant {
    width: 80%;
  }
}
@media (max-width: 550px) {
  .new-plant {
    width: 90%;
  }
}
