.gallery-info {
  color: $main-green;
  padding: .5em;
}

.gallery-filename {
  color: white;
}

.add-gallery-picture {
  font-family: $main-font;
  color: $main-green;
  border: none;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.delete-gallery-picture {
  font-family: $main-font;
  color: $main-green;
  border: none;
  cursor: pointer;
  align-items: flex-end;
}
