.plant-card {
  font-family: $main-font;
  max-height: 300px;
  max-width: 300px;
}

.plant-name {
  color: $main-green;
  padding-bottom: .5em;
}

.plant-details {
  line-height: 0;
}

.show {
  line-height: 1em;
}
