.show-details {
  line-height: 1.2em;
  strong {
    font-weight: 700;
  }
}

a {
  color: $main-green;
}

.show-list {
  margin-top: 2.5em;
}

.comments {
  font-size: 1.5em;
  margin-top: 1em;
  color: $main-green;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .show-list {
    margin-top: 0;
  }
}
