.show-details {
  line-height: 1.2em;
  strong {
    font-weight: 700;
  }
}

.back-div {
  margin-left: .7em;
}

a {
  color: $main-green;
  .back-to-plant {
    margin-left: 5em;
  }
}

.show-list {
  margin-top: 2.5em;
}

.comments-box {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: .3em;
  color: $main-green;
  font-weight: 700;
}

.comments {
  line-height: 1.5em;
  strong {
    font-weight: 700;
  }
}

.delete-comment {
  justify-content: flex-end;
  border: none;
  cursor: pointer;
}

.delete-comment-form {
  justify-content: flex-end;
}

.comments-form {
  margin-top: .5em;
}

@media only screen and (max-width: 768px) {
  .show-list {
    margin-top: 0;
  }
}
