<section class="section">
  <div class="container">
    <h1 class="plant-heading">SHOW ME</h1>
      <% plant.gallery.forEach( picture => { %>
        <img src="<%= picture.image %>" alt="<%= picture.title %>">
      <% }) %>

    <form enctype="multipart/form-data" action="/plants/<%= plant.id %>/gallery" method="POST">
      <div class="file has-name is-full-width">
         <label class="file-label">
           <input class="file-input" type="file" name="file" accept=".jpg, .jpeg, .png">
           <span class="file-cta">
             <span class="file-icon">
               <i class="fas fa-upload"></i>
             </span>
             <span class="file-label">
               Upload a picture (500px x 500px)
             </span>
           </span>
         </label>
       </div>
       <div class="field is-grouped">
         <div class="control">
           <button class="button submit-button">Submit</button>
         </div>
      </form>
       <div class="control">
         <a class="button is-text" href="/plants/">Cancel</a>
       </div>
     </div>
  </div>
</section>
