.submit-button {
  background-color: $main-green;
  color: white;
  &:hover {
    color: white;
  }
}

#delete-button {
  border: none;
  color: #3273dc;
  background-color: white;
  font-size: 1em;
  margin-bottom: .1em;
  cursor: pointer;
  padding: 0;
  &:hover {
    color: #363636;
  }
}
