.submit-button {
  background-color: $main-green;
  color: white;
  &:hover {
    color: white;
  }
}

.watered {
  display: none;
}

#delete-button {
  border: none;
  color: $main-green;
  border: none;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
  &:hover {
    color: #363636;
  }
  strong {
    color: $main-green;
  }
}
