.submit-button {
  background-color: $main-green;
  color: white;
  &:hover {
    color: white;
  }
}

.watered {
  display: none;
}

#delete-button {
  border: none;
  color: $main-green;
  background-color: white;
  font-size: 1em;
  margin-bottom: .1em;
  cursor: pointer;
  padding: 0;
  &:hover {
    color: #363636;
  }
}

.add-gallery-picture {
  font-family: $main-font;
  color: $main-green;
  border: none;
  // border: 3px solid $main-green;
  // border-radius: 20%;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
}
