.show-plant {
  border: 10px solid $main-green;
  border-radius: 10%;
}

p strong {
  font-weight: 700;
}

.plant-icon {
  margin-bottom: .5em;
}

.gallery-image {
  border: 5px solid $main-green;
  border-radius: 10%;
}
